<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="SQLServer" sqlConnectionString="Data Source=.\;User ID=sa;Password="
    <yourpassword>;" />
  
  </system.web>
  <appSettings>
    <add key="ApplicationName" value="YourApplicationName" />
    <add key="RootDomain" value=".yourdomain.com" />
  </appSettings>
  <system.webServer>
    <modules>
      <add name="SharedSessionModule"
           type="SharedSessionModule.SharedSessionModule, SharedSessionModule, Version=1.0.0.0, Culture=neutral" />
    </modules>
  </system.webServer>
</configuration>